<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>${APP_HOME}/logs/file.log</file> -->
		<file>D:/04_workspace/logs/fileSearch.log</file>
	
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 파일이 하루에 한개씩 생성된다 -->
			<fileNamePattern>D:/04_workspace/logs/fileSearch.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- maxHIstory 설정은 위 부분에 롤링 정책에 따라 적용되 된다고 보면된다. 위 설정데로 라면 30일이 지난 파일은 삭제가 된다. -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
			
		</rollingPolicy>
		
		<!-- <append>true</append> -->
		<encoder>
			<pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- trace, debug, info, error -->
	<logger name="org.nor">
		<level value="debug" />
	</logger>

	<root level="debug">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>